html {
    -webkit-text-size-adjust: 100%
}

body {
    font-size: 85%;
}

header {
    margin: 1em 0 2em 0;
    background-color: transparent;
    border: inherit;
}

header h1 {
    width: 50px;
    height: 50px;
    margin: -0.45em auto 0.35em .25em;
}

#nameplate {
    padding: 0;
}

nav {
    background-color: #1079b8;
}

nav #home {
    display: none;
}

article {
    padding: 0 0.75em;
}

code, pre {
    font-size: 85%;
}

pre {
    margin: 0.75em 0;
    padding: 0.25em;
}
