* { margin: 0; padding: 0; }

@font-face {
    font-family: 'NevisBold';
    src: url('nevis.eot');
    src: url('nevis.eot') format('embedded-opentype'),
         url('nevis.woff') format('woff'),
         url('nevis.ttf') format('truetype'),
         url('nevis.svg#NevisBold') format('svg');
}

body {
    margin: auto;

    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 100%;
    color: #101;
    background-color: #fff;
}

#nameplate {
    margin: auto;
    padding: 0 1.25em 0 1.25em;
    max-width: 43em;
}

header {
    width: 100%;
    margin: 2.7em 0 3.25em 0;
    background-color: #1079b8;
}

header h1 {
    width: 80px;
    height: 80px;
    float: left;

    margin: -.75em 0 0.5em 0;

    background-image: url(3rvx.svg), url(3RVX.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

header h1 a {
    width: 100%;
    height: 100%;

    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}

nav {
    color: #fff;
    padding: 0.375em;
    font-family: 'NevisBold', 'Futura', 'Helvetica', 'Arial', sans-serif;
    font-size: 0.85em;
    text-align: right;
    text-transform: uppercase;

    display: block;
}

nav a:link,
nav a:active {
    padding: 0 0.25em 0 0.25em;
    border: 0.25em solid transparent;
    color: #fff;
    text-decoration: none;
    margin: 0 0.5em 0 0.5em;
    line-height: 1.75em;
}

nav a:hover {
    border: 0.25em solid #17537a;
    border-radius: 0.5em;
    background-color: #17537a;
}

nav a:visited {
    color: #fff;
}

#news {
    margin: 3em 0 0.3em 1.5em;
    padding: 0.35em;
    width: 20em;
    background-color: #cbe3f2;
    border: 1px solid #17537a;
    border-left: 5px solid #17537a;
    float: right;
}

#news h1 {
    font-size: 110%;
    color: #387ba6;
    text-decoration: underline;
    font-weight: normal;
}

#news ul {
}

#news li {
    margin: 1em 0.5em 0.5em 2em;
    font-size: 85%;
}

article {
    max-width: 43em;
    margin: 0 auto 8em auto;
    padding: 0 1.25em 0 1.25em;
}

article a {
    color: #387ba6;
}

article a:hover {
    text-decoration: none;
}

figure {
    float: right;
    max-width: 90%;
    margin: 1em;
    padding: 3px;
    background: #e5e5e5;
    border: 1px solid #9b9b9b;

    font-size: 0.75em;
}

figure img {
    max-width: 100%;

}

code, pre {
    font-size: 90%;
    font-family: Menlo, DejaVu Sans Mono, Consolas, monospace;
}

pre {
    overflow: auto;
    background-color: #111111;
    color: white;
    margin: 1.5em;
    padding: 1em;
}

h1 {
    font-size: 185%;
    margin-bottom: 0.25em;
}

h1 a:link,
h1 a:visited,
h1 a:hover,
h1 a:active {
    border: 0;
    background-color: transparent;
    color: #101;
    text-decoration: none;
}

h2 {
    font-size: 160%;
    margin: 1em 0 0.25em 0;
}

h2 a:link,
h2 a:visited,
h2 a:hover,
h2 a:active {
    border: 0;
    background-color: transparent;
    color: #101;
    text-decoration: none;
}

p {
    line-height: 1.75;
    margin-bottom: 1em;
}

p img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1em 0 1em 0;
    max-width: 100%;
}

li {
    margin:  0.50em 3em 0.75em 3em;
    line-height: 1.25em;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0.25em 2em 1em 2em;
    padding: 0 0 0.5em 0;
}
